*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-logo{
  height: 60px;
  width: 100px;  
  margin-left: 1rem;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
      cursor: pointer;
}

.nav-location p {
   color:#f5eeee;
   font-size: 12px;
   margin-left: 15px;
}

.location{
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.nav-search{
     display: flex;
     height: 38px;
     width: 900px;
     border: none;

}

.nav-search:hover{
    /* border: 2px solid orange; */
}

.all-list{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: none;
      height: 38px;
      width: 50px;
      background-color: #D4D4D4;
      color: #666363;
      font-size: 12px;
      margin-left: 1rem;
      text-align: center;
}


.all-list:hover{
    color: black;
    cursor: pointer;
}

.search-input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1rem;
   
}


.search-icon{
    color: black;
    border-top-right-radius:  5px;
    border-bottom-right-radius: 5px;
    background-color: #F3A847;
    height: 38px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-account{
    margin-left: 80px;
}

.account-para{
    font-size: 12px;
    
}

.account-list{
    background-color: black;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.nav-order{
    margin-left: 5px;
}

.order-para{
    font-size: 12px;
}

.nav-cart{
    display: flex;
   
  
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart p{
    margin-top: 1rem;
    font-weight: 600;
    font-size: 14px;
}

.panel{
     display: flex;
     flex-direction: row;
     background-color: #232F3E;
     color: white;
     height: 38px;
     align-items: center;
     font-size:14px;
}

.panel-all{
    margin-inline:1rem;
    font-size: 16px;
}

.panel-detail{
    display: flex;
    gap: 1.5rem;
    margin-left: 0.6rem;
    width: 80%;
}

.panel-deals{
   margin-left: 2rem;
   font-size: 16px;
   font-weight: 400;
}

.hero-section{
    background-image: url("hero_image.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content:end;
    align-items:center;
    flex-direction: column;


}

.hero-message{
    background-color: white;
    padding: 0.6rem 0.4rem;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 1rem;
    width: 90%;
    
}

.hero-message-ancor{
    text-decoration: none;
    color: #007185;
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #B6CACB;
    
}

.cards{
    background-color: white;
    /* border: 1px solid black; */
    padding: 1rem 1.5rem;
    height: 400px;
    width: 330px;
    margin-block: 2rem;
  
}

.card-heading{
    margin-bottom: 1rem;

}

.card-image{
    height: 300px;
    width: 280px;
}

.card-para{
    margin-top: 0.5rem;
    color: #007185;
}

.sign-in-container{
    padding: 1rem 0.5rem;
   
}

.sign-in-content{
    border: 1px solid #bfbdbd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2.5rem;
}

.sing-in-button{
    background-color: #FFCE12;
    padding: 5px 11px;
    border: none;
    border-radius: 1rem;
    width: 270px;
    height: 30px;
    font-size: 14px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sign-in-content p{
    font-size: 11px;
}